[submodule "DicomAnonymizerTool"]
	path = DicomAnonymizerTool
	url = https://github.com/stanfordmed/DicomAnonymizerTool.git
	branch = stanford
[submodule "CTP"]
	path = CTP
	url = https://github.com/stanfordmed/CTP.git
	branch = stanford
